<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>SUPABASE_URL</key><string>https://gioqujwjltnciazvdsce.supabase.co</string><key>SUPABASE_ANON_KEY</key><string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdpb3F1andqbHRuY2lhenZkc2NlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExODMzNTcsImV4cCI6MjA4Njc1OTM1N30.xTqvUDyBUqftc-G8O_l_kkoHtuslv6tqGkf_wx5cXhc</string></dict></plist>
